<!DOCTYPE html>
<html>
  <%- include("header.ejs"); %>
  <%- include("navbar.ejs"); %>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Hinterland</h1>
      </div>
    </div>
    <% if (account) { %>
      <p>
        <strong>email</strong>: <%= account.get("email") %><br>
        <strong>password</strong>: <%= account.get("password") %>
      </p>
    <% } %>
  </body>
</html>
