<!DOCTYPE html>
<html>
<%- include("header.ejs"); %>
<%- include("navbar.ejs"); %>
<body>
  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
          <% if (account) { %>
            <p>
              <strong>email</strong>: <%= account.get("email") %><br>
              <strong>password</strong>: <%= account.get("password") %>
            </p>
          <% } %>
        </div>
      </div>
  </div>
</body>
</html>
